# Text should be with LF line endings
*.yml text eol=lf
*.php text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.md text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
COPYING text eol=lf
